body {
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 0;
    background-color: #383b53;
    color: #ffffff;
}

.container {
    max-width: 1100px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #004a6f;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

header, #main-content {
    text-align: center;
    margin-bottom: 2rem;
}

h1 {
    color: #ff3d5a;
    font-size: 3em;
    margin: 0;
}

.input-group, .actions {
    display: flex;
    align-items: center;
    justify-content: center; /* Change to center */
    gap: 1rem;
}

.action-buttons {
    display: flex;
    align-items: center;
    justify-content: center; /* Change to center */
    gap: 1rem;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 2px solid #d0dde5;
}

th {
    background-color: #ffa41b;
    color: #000000;
    padding: 1rem 1.5rem;
}

td {
    padding: 1rem 1.5rem;
    color: #ffffff;
}

input, select, button {
    padding: 1rem;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

input[type="text"], select {
    border: 2px solid #19a974;
}

button, .btn-primary, .btn-danger, .btn-action {
    cursor: pointer;
    border: none;
}

.btn-primary {
    background-color: #19a974;
    color: #ffffff;
    padding: 1rem 2rem;
}

.btn-danger {
    background-color: #f54748;
    color: #ffffff;
    padding: 1rem 2rem;
}

.btn-action {
    background-color: #ffa41b;
    color: #ffff00;
    padding: 1rem 2rem;
}

/* Hover Effects */
input[type="text"]:hover, select:hover {
    border-color: #f54748;
}

.btn-primary:hover {
    background-color: #178060;
}

.btn-danger:hover {
    background-color: #d43c40;
}

.btn-action:hover {
    background-color: #ff8c00;
}

.close:hover {
    color: #f54748;
}

.my-modal {
    z-index: 2000;
}

.modal-backdrop {
    z-index: 1500;
}
